@import './base.css';
@import 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css';


.default-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #233955;
  text-align: center;
  transition: all 0.2s;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 2px 4px 5px 0px rgb(0 0 0 / 54%);
}

.default-button:hover {
  cursor: pointer;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

.nav-link {
  color: #0aadd6;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #0aadd6;
  color: #000000;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}